<!DOCTYPE html>

<html>
	<head>
		<link  rel="stylesheet" href="/static/style.css">
		<title>wiki</title>
	</head>
	
<body>
		<div class="login-area">
			{% if user %}
			<a class="login-link" href="{{url}}">view</a> &nbsp
			{{user}}
			(<a class="login-link" href="/logout">logout</a>)
			{% else %}
			<a class="login-link" href="/login">login</a>
			|
			<a class="login-link" href="/signup">signup</a>
			{% endif %}
		</div>
			
		<div id="content">
			<form method="post">
				<textarea name="content">{{content}}</textarea>
				<br>
				<input type="submit" value="Save">
			</form>
		</div>

    </body>
    </html>
