<!DOCTYPE html>
<html>
  <head>
    <title>Sign Up</title>
    <style type="text/css">
      .label {text-align: right}
      .error {color: red}
    </style>

  </head>
  <body>
    <h2>Signup</h2>
    <form method="post">
      <table>
        <tr>
          <td class="label">
            Username
          </td>
          <td>
		  <input type="text" name="username" value="{{username}}">
          </td>
	  <td class="error">{{username_error}}</td>
        </tr>

        <tr>
          <td class="label">
            Password
          </td>
          <td>
		  <input type="password" name="password" value="{{password}}">
          </td>
	  <td class="error">{{password_error}}</td>
        </tr>

        <tr>
          <td class="label">
            Verify Password
          </td>
          <td>
		  <input type="password" name="verify" value="{{verify}}">
          </td>
	  <td class="error">{{verify_error}}</td>
        </tr>

        <tr>
          <td class="label">
            Email (optional)
          </td>
          <td>
		  <input type="text" name="email" value="{{email}}">
          </td>
	  <td class="error">{{email_error}}</td>
        </tr>
      </table>

      <input type="submit">
    </form>
  </body>
</html>

