<!DOCTYPE html>

<html>
	<head>
		<link  rel="stylesheet" href="/static/style.css">
		<title>wiki</title>
	</head>
	
	<body>
		<div class="login-area">
			{% if user %}
			<a class="login-link" href="/_edit{{url}}">edit</a> &nbsp
			{{user}}
			(<a class="login-link" href="/logout">logout</a>)
			{% else %}
			<a class="login-link" href="/login">login</a>
			|
			<a class="login-link" href="/signup">signup</a>
			{% endif %}
			
		</div>
		
		<div class="post-content">
		{{content}}
		</div>

    </body>
</html>


